h1 {
  color: #ffa500;
  font-size: 28px;
}
p {
  color: #ffff;
  font-size: 16px;
}
body {
  background-color: #000000;
}
h1 {
  color: #000000;
  background-color: #ffa500;
  padding: 16px;
}
.box {
  background-color: #ffa500;
  color: #000000;
  padding: 40px;
  margin-bottom: 8px;
}
.highlight {
  background-color: #808080;
}
.card {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 16px;
}
